.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.search-input{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-input img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 150px;
    height: 150px;
    margin: 30px 0;
    border-radius: 50%;
    object-fit: cover;
    padding: 0;
    background: transparent;
    display: block;
}
.temperature{
    font-size: 80px;
    color: #fff;
    line-height: 1;
}
.location{
    font-size: 40px;
    color: #fff;
}

.weather-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 20px;
}

.col{
    display: flex;
    align-items: center;
    gap: 12px;
}

.col img{
    width: 40px;
    height: 40px;
}

.col div{
    color: #fff;
}

.col div p{
    font-size: 18px;
    font-weight: 500;
}

.col div span{
    font-size: 14px;
}